*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: 
    #FD6E0A;
}
.btn-primary{
    height: 50px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    border: 0;
    padding: 12px 25px;
    

}


/* header & navigation Styles */

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title{
    width: 121px;
    height: 61px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}
.header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* banner styels */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-name{
    font-size: 85px;
    line-height: 116px;
    color: #181818;

}

.banner-sub-name{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-text{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;

}
/* about-me secation */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.main-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}

.about-text{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}


.info-main{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;

}
.info-details{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* what i do styels */
.what-i-do{  margin-top: 130px;

}

/* skills styels */
.main-skill{
    display: flex;
    gap: 24px;

}

.skil{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-details{

    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
section{
    margin-top: 130px;
}

/* resume  */

.all-resume{
    display: flex;
    gap: 24px;
}

.resume-iteam{
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;

}
.resume-sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;

}
.details{
    color: #757575;

}

.resume-btn{
    margin-top: 50px;
    text-align: center;
}

/* contract */

.connect{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.lets{
    text-align: left;
}

.connect input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}

.connect a{
    text-decoration: none;
    margin-right: 10px;
}
.pera{
    margin-bottom: 20px;
}
